.mat-card {
    width: 350px;
    height: 550px;
}

.action-btn {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.title-text {
    height: 50px;
}

.thumbnail-img {
    width: 75px;
}

.comparison-section {
    margin: 10px;
}